<header id="header" data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content">
        <div id="overlay" class="overlay"></div>
        <div class="container" data-ng-controller="dashboardCtrl as rctrl">
            <div class="card">
                <div class="card-header">
                    <h2>June 14, 2015</h2> <small></small>
                </div>
                <div class="card-body card-padding">
                    <div>
                        <div class="row">
                            <div class="col-md-3">
                                <ui-select multiple ng-model="rctrl.filters.selectedPitchers"
                                         theme="bootstrap"
                                         reset-search-input="false"
                                         style="width: 200px;">
                                    <ui-select-match placeholder="All pitchers">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="p in rctrl.pitchers"
                                             refresh="rctrl.refreshPitchers($select.search)"
                                             refresh-delay="0">
                                      <div ng-bind="p.name"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-md-2">
                              Pitching to
                            </div>
                            <div class="col-md-3">
                                <ui-select multiple ng-model="rctrl.filters.selectedBatters"
                                         theme="bootstrap"
                                         reset-search-input="false"
                                         style="width: 200px;">
                                    <ui-select-match placeholder="All batters">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="p in rctrl.batters"
                                             refresh="rctrl.refreshBatters($select.search)"
                                             refresh-delay="0">
                                      <div ng-bind="p.name"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                  <ul class="nav tab-nav tn-justified" ng-show="rctrl.showInnings()">
                    <li class="btn-wave" ng-repeat="inning in rctrl.range(1,9)" ng-class="{ 'active' : rctrl.selectedInning == inning }"><a href="#" ng-click="rctrl.selectedInning = inning">{{inning | ordinal}} inning</a></li>
                  </ul>
                  <ul class="nav tab-nav tn-justified" ng-show="rctrl.showInnings()">
                    <li class="btn-wave" ng-class="{ 'active' : rctrl.selectedSide == 'top' }"><a href="#" ng-click="rctrl.selectedSide = 'top'">Top</a></li>
                    <li class="btn-wave" ng-class="{ 'active' : rctrl.selectedSide == 'bottom' }"><a href="#" ng-click="rctrl.selectedSide = 'bottom'">Bottom</a></li>
                  </ul>
                  <div ng-repeat="p in rctrl.pitches | filter:rctrl.filterPitches()">
                    <div class="pitch">
                      <video id="videoPlayer_{{p.id}}" controls class="videoPlayer" preload="none">
                        <source src="{{p.video_url}}" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2'>
                        Video not supported.
                      </video>
                      <div class="situation">
                        {{p.plate_appearance.pitcher.pl_fName + ' ' + p.plate_appearance.pitcher.pl_lName}}
                        pitching to
                        {{p.plate_appearance.batter.pl_fName + ' ' + p.plate_appearance.batter.pl_lName}}<br>
                        {{p.plate_appearance.side}} of the {{p.plate_appearance.inning | ordinal}}<br>
                      </div>
                      <div class="result">
                        {{p.result.description}}
                      </div>
                      <div class="result">
                        {{p.plate_appearance.result.description}}
                      </div>
                      <button ng-click="rctrl.showVideo(p.id);" class="btn">Video</button>
                      <div class="location">
                        <div class="zone" style="position:absolute;left:33%;width:33%;height:100%;border-left:1px dashed black;border-right:1px dashed black;"></div>
                        <div class="zone" style="position:absolute;top:33%;height:33%;width:100%;border-top:1px dashed black;border-bottom:1px dashed black;"></div>
                        <div class="dot" style="
                        top:{{56-(60*((p.pz-p.szb)/(p.szt-p.szb)))}}px;
                        left:{{26-(p.px*60*12/17)}}px"></div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>